body{ margin: 0;
      font-family: Arial;
    box-sizing: border-box;
  overflow: hidden;}

nav{ display: flex;
    justify-content: space-between;
     background: black;
    color: rgb(255, 255, 255);
   padding: 15px;}


ul{ display: flex;
    gap: 20px;}

nav a { color: white;}

.Hero{ text-align: center;
        padding: 30px;
         background-color: lightblue;}


.About{ text-align: center;
    padding: 30px;}

.services{ text-align: center;
           padding: 40px;
           background: #f2f2f2; 
          flex-wrap: wrap;}      
           
.cards{display: flex;
    justify-content: center;
   gap: 20px;}

.card{background-color: white;
    padding: 20px;
   border-radius: 10px; 
  box-shadow: 0 4px 10px rgba( 0, 0,  0, 0.2 );}

.Contact{
     text-align: center;
      padding: 40px;} 


.contactbox{ background: white;
               margin: auto;
             width: 350px;
            padding: 40px;
          border-radius: 10px;
        box-shadow: 0 4px 15px;
      margin-top: 20px;
    box-sizing: border-box;}
      
.contactbox input textarea{ display: block;
  outline: none;

  box-sizing: border-box;
  
     padding:8px ;
                margin: 8px 2px;
               width:100% ;
              border: 1px solid #ccc;
              border-radius: 5px;
               resize: none;}

  button{ background: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;}

 footer{ background: black;
            color: white;
                    text-align: center;
                  padding: 10px;}

Add CSS styling for basic website
